html {
    background-color: beige;
}

body {
    font-family: sans-serif;
    color: #535353;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: beige;
}

.button {
    cursor: pointer;
    color: white;
    background-color: #776e65;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    width: 140px;
    height: 50px;
    font-weight: bold;
    margin: 0px;
}

p {
    font-size: 16px;
}

#instructions {
    line-height: 50px;
    display: inline
/*    width: 100px;*/
/*    vertical-align: middle;*/
}

#before-game {
    margin-bottom: 30px;
    margin-top: 30px;
}

#new-game-button {
    float: right;
    display: inline-block;
/*    width: 14px;*/
}

#draw-area {
    box-sizing: border-box;
}

h1.heading {
    font-size: 400%;
    font-weight: bold;
    color: #535353;
    display: inline;
}

#score-container {
    float: right;
    color: white;
    background-color: #776e65;
    border-radius: 3px;
    text-align: center;
/*    line-height: 110px;*/
/*    font-size: 30px;*/
    width: 140px;
    height: 70px;
    font-weight: bold;
    margin: 0px;
    display: inline-block;
}

#score {
    line-height: 40px;
    font-size: 30px;
    margin: 0px;
}


/*
p#score::before {
    content: "score";
    position: relative;
    top: 130px;
    left: 520px;
    font-size: 18px;
}
*/


#draw-area {
    height: 500px;
    width: 500px;
    border-style: solid;
    border-radius: 5px;
}

table#game-table {
    width: 500px;
    height: 500px;
    background-color: #535353;
    border-radius: 5px;
    border-color: black;
    border-spacing: 10px;
}

td {
    box-sizing: border-box;
    width: 25%;
    height: 25%;
    background-color: white;
    border-width: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 300%;
}


footer {
    border-top-style: solid;
    border-width: thin;
    margin-top: 20px;
    opacity: 0.7;
    text-align: center;
}